#home {
  text-align: center;
  color:#fff;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  /* background-image: url("images/tech1.png");; */
}

.linkedin{
  color:#2867b2;
  border-color: #2867b2;
}

.linkedin:hover{
  color:white;
  background-color: #2867b2;
  border-color: #2867b2;
}


.intro-text{
  padding-top: 300px;
  padding-bottom: 200px;
}


.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }
